@using AslHMS.Models
@model AslHMS.Models.DTO.PharmacyDTO

@{
    ViewBag.Title = "Create";

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }


    AslHMSApiContext db = new AslHMSApiContext();
    Int64 LoggedCompId = Convert.ToInt64(System.Web.HttpContext.Current.Session["loggedCompID"]);
    Int64 loggedUserID = Convert.ToInt64(System.Web.HttpContext.Current.Session["loggedUserID"]);

    var query = from m in db.AslRoleDbSet
                where m.COMPID == LoggedCompId && m.USERID == loggedUserID && m.CONTROLLERNAME == "Issue"
                select new { m.STATUS, m.INSERTR, m.UPDATER, m.DELETER };
    string status = "", insert = "", update = "", delete = "";
    foreach (var S in query)
    {
        status = S.STATUS;
        insert = S.INSERTR;
        update = S.UPDATER;
        delete = S.DELETER;
    }

    if (status == "I")
    {
        Response.Redirect("~/GraphView/Index");
    }


    if (insert == "A")
    {
    }
    else if (update == "A")
    {
        Response.Redirect("~/Issue/Update");
    }
    else if (delete == "A")
    {
        Response.Redirect("~/Issue/Delete");
    }

    if (insert == "I")
    {
        Response.Redirect("~/GraphView/Index");
    }


    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);

    string converttoString = Convert.ToString(currentDateTime.ToString("dd-MMM-yyyy"));
    string getYear = converttoString.Substring(9, 2);
    string getMonth = converttoString.Substring(3, 3).ToUpper();
    string monthYear = getMonth + "-" + getYear;//DEC-15 (Example)
    
    string memoNo = "", currentMonth = "";
    currentMonth = currentDateTime.ToString("MM");

    var findTransNo = (from m in db.HmsPharmacyDbSet
                       where m.COMPID == LoggedCompId && m.TRANSTP == "IISS" && m.TRANSMY == monthYear
                       select m).ToList();
    if (findTransNo.Count == 0)
    {
        memoNo = getYear + currentMonth + "0001";
    }
    else
    {
        Int64 max_TransNO = Convert.ToInt64((from m in db.HmsPharmacyDbSet where m.COMPID == LoggedCompId && m.TRANSTP == "IISS" && m.TRANSMY == monthYear select m.TRANSNO).Max());
        Int64 R = Convert.ToInt64(getYear + currentMonth + "9999");
        if (max_TransNO <= R)
        {
            memoNo = Convert.ToString(max_TransNO + 1);
        }
        else
        {
            memoNo = "Not access!!!";
        }
    }

    string type = "ISSUE";

}


<link href="~/Content/bootstrap_datepicker_css/datepicker.css" rel="stylesheet" />
<link href="~/Content/bootstrap_datepicker_css/datepicker3.css" rel="stylesheet" />
<script src="/Scripts/bootstrap-datepicker.js"></script>



<link href="~/Content/newcss/ng-grid.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="contentHeaderBox">
        @if (TempData["Issue-Create"] != "")
        {
            <h1 style="padding-left: 16px">Create Issue Info <span style="color: #FB000A; float: right; ">@TempData["Issue-Create"]</span></h1>

        }
        else
        {

            <h1 style="padding-left: 16px">Create Issue Info</h1>
        }


        <div class="btn-group pull-right" id="editOption">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </button>
            <ul class="dropdown-menu pull-right" style="" role="menu">
                @if (insert == 'A'.ToString() && update == 'A'.ToString() && delete == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Create", "Issue")"><i class="fa fa-plus"></i> Create</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Update", "Issue")"><i class="fa fa-edit"></i> Update</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", "Issue")"><i class="fa fa-times"></i> Delete</a>
                    </li>
                }
                else if (update == 'A'.ToString() && delete == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Update", "Issue")"><i class="fa fa-edit"></i> Update</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", "Issue")"><i class="fa fa-times"></i> Delete</a>
                    </li>
                }
                else if (insert == 'A'.ToString() && update == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Create", "Issue")"><i class="fa fa-plus"></i> Create</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Update", "Issue")"><i class="fa fa-edit"></i> Update</a>
                    </li>
                }
                else if (insert == 'A'.ToString() && delete == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Create", "Issue")"><i class="fa fa-plus"></i> Create</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", "Issue")"><i class="fa fa-times"></i> Delete</a>
                    </li>
                }
                else if (insert == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Create", "Issue")"><i class="fa fa-plus"></i> Create</a>
                    </li>
                }
                else if (update == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Update", "Issue")"><i class="fa fa-edit"></i> Update</a>
                    </li>
                }
                else if (delete == 'A'.ToString())
                {
                    <li>
                        <a href="@Url.Action("Delete", "Issue")"><i class="fa fa-times"></i> Delete</a>
                    </li>
                }
            </ul>
        </div>

    </div>



    <br />
    <div class="col-md-12">
        <div class="form-group">
            @Html.HiddenFor(model => model.COMPID, new { id = "txtcompid", @Value = LoggedCompId })
            @Html.HiddenFor(model => model.INSUSERID, new { id = "txtInsertUserid", @Value = loggedUserID })
            @Html.HiddenFor(model => model.Insert, new { id = "txt_Insertid", @Value = insert })
            @Html.HiddenFor(model => model.Update, new { id = "txt_Updateid", @Value = update })
            @Html.HiddenFor(model => model.Delete, new { id = "txt_Deleteid", @Value = delete })

            @Html.HiddenFor(model => model.TRANSMY, new { id = "hiddentxt_TransMonthYear", @Value = monthYear, required = "true" })
            @Html.HiddenFor(model => model.DEPTFR, new { id = "hiddentxt_DepartmentFrom_id", required = "true" })
            @Html.HiddenFor(model => model.DEPTTO, new { id = "hiddentxt_DepartmentTo_id", required = "true" })
            @Html.HiddenFor(model => model.INSLTUDE, new { id = "latlon" })
            <input id="lat" type="hidden" />
            <input id="lon" type="hidden" />

            <div ng-app="IssueApp" data-ng-controller="ApiIssueController">

                <div class="row">
                    <div class="col-md-9">
                        <div class="panel panel-primary" style="border: 1px solid transparent; border-radius: 0px; border-color: #e8e8e8; box-shadow: 0px 3px 9px #888888; ">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td style="width: 17%"><label>Type</label></td>
                                        <td style="width: 11%">@Html.TextBoxFor(model => model.TRANSTP, new { id = "transactionType", @class = "form-control input-sm", @tabindex = "-1", @Value = type, @readonly = "true", })</td>
                                        <td style="width: 7%"><label>Date</label></td>
                                        <td style="width: 15%">@Html.TextBoxFor(model => model.TRANSDT, new { id = "transactionDate", @class = "form-control input-sm", @Value = currentDateTime.ToString("dd-MMM-yyyy"), @tabindex = "1", required = "true", autofocus = "true" })</td>
                                        <td style="width: 15%"><label>Memo No</label></td>
                                        <td style="width: 35%">@Html.TextBoxFor(model => model.TRANSNO, new { id = "transNO", @class = "form-control input-sm", @Value = memoNo, @readonly = "true", @tabindex = "-1", required = "true", })</td>

                                    </tr>
                                    @*<tr>
                                        <td class="col-md-1"><label>Type</label></td>
                                        <td class="col-md-2">@Html.TextBoxFor(model => model.TRANSTP, new { id = "transactionType", @class = "form-control input-sm", @tabindex = "-1", @Value = type, @readonly = "true", })</td>
                                        <td class="col-md-1"><label style="margin-left: 26px; ">Date</label></td>
                                        <td class="col-md-3">@Html.TextBoxFor(model => model.TRANSDT, new { id = "transactionDate", @class = "form-control input-sm", @Value = currentDateTime.ToString("dd-MMM-yyyy"), @Style = "width:  55%;margin-left: 15px;", @tabindex = "1", required = "true", autofocus = "true" })</td>
                                        <td class="col-md-2"><label style=" margin-left: -30px;">Memo No</label></td>
                                        <td class="col-md-3">@Html.TextBoxFor(model => model.TRANSNO, new { id = "transNO", @class = "form-control input-sm", @Value = memoNo, @readonly = "true", @tabindex = "-1", required = "true", @Style = "margin-left: -65px; width: 50%;" })</td>
                                    </tr>*@
                                </table>
                                <table class="table table-striped">
                                    <tr>
                                        <td style="width: 17%"><label>Department From</label></td>
                                        <td style="width: 33%">@Html.TextBoxFor(model => model.DepartmentName_From_Issue, new { id = "departmentName_From", @class = "form-control input-sm", @tabindex = "2" })</td>
                                        <td style="width: 15%"><label>Department To</label></td>
                                        <td style="width: 35%">@Html.TextBoxFor(model => model.DepartmentName_To_Issue, new { id = "departmentName_To", @class = "form-control input-sm", @tabindex = "3", required = "true" })</td>
                                    </tr>
                                    @*<tr>
                                        <td class="col-md-2"><label>Department From</label></td>
                                        <td class="col-md-4" >@Html.TextBoxFor(model => model.DepartmentName_From_Issue, new { id = "departmentName_From", @class = "form-control input-sm", @Style = "width: 100%;", @tabindex = "2" })</td>
                                        <td class="col-md-2" ><label>Department To</label></td>
                                        <td class="col-md-4">@Html.TextBoxFor(model => model.DepartmentName_To_Issue, new { id = "departmentName_To", @class = "form-control input-sm", @tabindex = "3", required = "true" })</td>
                                    </tr>*@
                                </table>
                            </div>
                        </div>
                        <div class="well" style="box-shadow: 0px 3px 9px #888888;">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tr>
                                        <td class="col-md-6"><label>Item Name</label></td>
                                        <td class="col-md-2"><label>Qty</label>
                                        <td class="col-md-2"><label>Rate</label></td>
                                        <td class="col-md-2"><label>Amount</label></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        @Html.HiddenFor(model => model.MEDIID, new { id = "hiddentxt_MEDIID", @data_ng_model = "newChild.MEDIID" })
                                        <td class="col-md-6"><input type="text" class="form-control input-sm" data-ng-model="newChild.MEDINM" id="itemName_MEDIname" tabindex="4" /></td>
                                        <td class="col-md-2"><input type="number" step="any" class="form-control input-sm" data-ng-model="newChild.QTY" id="qty" min="0" max="999999999999999" placeholder="0" tabindex="5" /></td>
                                        <td class="col-md-2"><input type="number" step="any" class="form-control input-sm" data-ng-model="newChild.RATE" id="rate" min="0" max="999999999999999" placeholder="0" tabindex="6" /></td>
                                        <td class="col-md-2"><input type="number" step="any" class="form-control input-sm" data-ng-model="newChild.AMOUNT" id="amount" min="0" max="999999999999999" placeholder="0" readonly="readonly" tabindex="-1" /></td>
                                        <td><input type="submit" value="Insert" data-ng-click="addrow($event)" class="btn btn-primary" id="btnInsert" tabindex="7" /></td>
                                    </tr>
                                </table>
                                <table class="table table-striped">
                                    <tr>
                                        <td @*class="col-md-1"*@ style="text-align: left; width: 5%"><label>SL</label></td>
                                        <td @*class="col-md-3"*@ style="text-align: left; width: 50%"><label>Item Name</label></td>
                                        <td @*class="col-md-2"*@ style="text-align: left; width: 10%"><label>Qty</label></td>
                                        <td @*class="col-md-2"*@ style="text-align: left; width: 10%"><label>Rate</label></td>
                                        <td @*class="col-md-2"*@ style="text-align: right; width: 15%"><label>Amount</label></td>
                                        <td @*class="col-md-2"*@ style="width: 10%"></td>
                                    </tr>
                                    <tr data-ng-repeat="testitem in IssueData">
                                        <td hidden>
                                            <p data-ng-hide="testitem.editMode">{{testitem.ID}}</p>
                                        </td>
                                        <td hidden>
                                            <p data-ng-hide="testitem.editMode">{{testitem.COMPID}}</p>
                                        </td>
                                        <td hidden>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.TRANSTP }}</p>
                                        </td>
                                        <td hidden>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.TRANSMY }}</p>
                                        </td>
                                        <td hidden>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.TRANSNO }}</p>
                                        </td>
                                        <td hidden>
                                            <p data-ng-hide="testitem.editMode">{{ testitem.MEDIID }}</p>
                                        </td>

                                        <td @*class="col-md-1"*@ style="width: 5%">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.ITEMSL }}</p>
                                            <input class="form-control input-sm" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.ITEMSL" id="gridItemSLid" readonly="readonly" />
                                        </td>
                                        <td @*class="col-md-3"*@ style="width: 50%">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.MEDINM }}</p>
                                            <input class="form-control input-sm" data-ng-show="testitem.editMode" type="text" data-ng-model="testitem.MEDINM" id="gridMediNameID" readonly="readonly" />
                                        </td>
                                        <td @*class="col-md-2"*@ style="width: 10%">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.QTY }}</p>
                                            @Html.TextBoxFor(model => model.QTY, new { type = "number", step = "any", id = "gridQtyID", data_ng_show = "testitem.editMode", data_ng_model = "testitem.QTY", @class = "form-control input-sm gridQty", ng_change = "quantity(testitem.QTY)", @min = "0", @max = "999999999999999", placeholder = "0" })
                                            @*<input type="number" data-ng-model="testitem.QTY" class="form-control input-sm gridQty" data-ng-show="testitem.editMode"  ng-chance="quantity(testitem.QTY)" min="0" max="999999999999999" placeholder="0" />*@
                                        </td>
                                        <td @*class="col-md-2"*@ style="width: 10%">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.RATE }}</p>
                                            @Html.TextBoxFor(model => model.RATE, new { type = "number", step = "any", id = "gridRateID", data_ng_show = "testitem.editMode", data_ng_model = "testitem.RATE", @class = "form-control input-sm gridRate", ng_change = "rate(testitem.RATE)", @min = "0", @max = "999999999999999", placeholder = "0" })
                                            @*<input class="form-control input-sm gridRate" data-ng-show="testitem.editMode" type="number" data-ng-model="testitem.RATE" id="gridRateID" min="0" max="999999999999999" placeholder="0" ng-chance="rate(testitem.RATE)" />*@
                                        </td>
                                        <td @*class="col-md-2"*@ style="text-align: right;width:15%">
                                            <p data-ng-hide="testitem.editMode">{{ testitem.AMOUNT }}</p>
                                            @*@Html.TextBoxFor(model => model.AMOUNT, new { type = "number", id = "gridAmountID", data_ng_show = "testitem.editMode", data_ng_model = "testitem.AMOUNT", @class = "form-control input-sm gridAmount", ng_change = "amount(testitem.AMOUNT)", @min = "0", @max = "999999999999999", placeholder = "0" })*@
                                            <input class="form-control input-sm gridAmount" data-ng-show="testitem.editMode" type="number" step="any"  data-ng-model="testitem.AMOUNT" id="gridAmountID" min="0" max="999999999999999" placeholder="0" ng-chance="amount(testitem.AMOUNT)" readonly="readonly" />
                                        </td>
                                        <td @*class="col-md-2"*@ style="text-align: right;width: 10%">
                                            <p data-ng-hide="testitem.editMode">
                                                <a data-ng-click="toggleEdit(testitem)" href="javascript:;"><span class="btn btn-warning btn-xs glyphicon glyphicon-edit"></span></a> | <a data-ng-click="deleteItem(testitem)" href="javascript:;"><span class="btn btn-warning btn-xs glyphicon glyphicon-trash"></span></a>
                                            </p>
                                            <p data-ng-show="testitem.editMode">
                                                <a data-ng-click="update(testitem)" href="javascript:;"><span class="btn btn-warning btn-xs glyphicon glyphicon-ok"></span></a> | <a data-ng-click="toggleEdit_Cancel(testitem)" href="javascript:;"><span class="btn btn-warning btn-xs glyphicon glyphicon-remove"></span></a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td @*class="col-md-1"*@ style="width: 5%"></td>
                                        <td @*class="col-md-3"*@ style="width: 50%"></td>
                                        <td @*class="col-md-2"*@ style="width: 10%"></td>
                                        <td @*class="col-md-2"*@ style="width: 10%"><b>Total:</b></td>
                                        <td @*class="col-md-2"*@ id="gridTotalAmount" style="text-align: right; font-weight: bold;width: 15%">{{GetSummOfAmount(IssueData)}}</td>
                                        <td @*class="col-md-2"*@ style="width: 10%"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" style=" padding-left: 0px;">
                        <div class="panel panel-primary" style="margin-bottom: 0px">
                            <div class="panel-heading">Particulars</div>
                        </div>

                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">Total Amount</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.TextBoxFor(model => model.TOTAMT, new { @class = "form-control input-sm", @style = "text-align:right", id = "txtMst_TotalAmount", @readonly = "readonly", @Value = 0 })</div>
                            </div>
                            @*<div class="row">
                                <div class="col-md-12">Vat (%)</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.TextBoxFor(model => model.VATRT, new { type = "number", step = "any", @class = "form-control input-sm", @style = "text-align:right", id = "txtMst_VatRT", @Value = 0, tabindex = "9" })</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">Vat Amount</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.TextBoxFor(model => model.VATAMT, new { @class = "form-control input-sm", @style = "text-align:right", id = "txtMst_VatAmount", @Value = 0, @readonly = "readonly" })</div>
                            </div>      
                            <div class="row">
                                <div class="col-md-12">Discount Amount</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.TextBoxFor(model => model.DISCOUNT, new { type = "number", step = "any", @class = "form-control input-sm", @style = "text-align:right", id = "txtMst_DiscAmt", @Value = 0, tabindex = "10" })</div>
                            </div>*@
                            @*<div class="row">
                                <div class="col-md-12">Net Amount</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.TextBoxFor(model => model.NETAMT, new {@class = "form-control input-sm", @style = "text-align:right", id = "txtMst_NetAmount", @Value = 0, @readonly = "readonly"})</div>
                            </div>*@
                            @Html.HiddenFor(model => model.NETAMT, new { @class = "form-control input-sm", @style = "text-align:right", id = "txtMst_NetAmount", @Value = 0, @readonly = "readonly" })
                            <div class="row">
                                <div class="col-md-12">Remarks</div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">@Html.TextAreaFor(model => model.REMARKS, new { @class = "form-control input-sm", @style = "text-align:left", id = "txtMst_Remarks", tabindex = "9" })</div>
                            </div>
                            @*<br />
                            <div class="row">
                                <div class="col-md-3"><input type="submit" id="btnSave" class="btn btn-danger" value="Save" name="command" tabindex="10" /></div>
                                <div class="col-md-4"><input type="submit" id="A4_ButtonId" class="btn btn-success" name="command" value="A4 Size" data-toggle="tooltip" data-placement="bottom" title="Paper size A4" formtarget="_blank" tabindex="11" /></div>
                                <div class="col-md-5"><input type="submit" id="btnRefresh" class="btn btn-danger" value="Refresh" name="command" tabindex="12" /></div>
                            </div>*@
                            <br />
                            <div class="row">
                                <div class="col-md-6"><input type="submit" id="btnSave" class="btn btn-success btn-block" value="Save" name="command" tabindex="10" /></div>
                                <div class="col-md-6"><input type="submit" id="btnRefresh" class="btn btn-danger btn-block" value="Refresh" name="command" tabindex="11" /></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><input type="submit" id="A4_ButtonId" class="btn btn-default btn-block" name="command" value="A4" data-toggle="tooltip" data-placement="bottom" title="Paper size A4" formtarget="_blank" tabindex="12" /></div>
                                <div class="col-md-6"><input type="submit" id="POS_ButtonId" class=" btn btn-default btn-block" name="command" value="POS" data-toggle="tooltip" data-placement="bottom" title="Paper size small" formtarget="_blank" tabindex="13" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    //Latitute & longitude
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>

    <script language="javascript" type="text/javascript">
        $(function () {
            navigator.geolocation.getCurrentPosition(showPosition);

            //navigator.geolocation.getCurrentPosition(showPosition, positionError);

            function showPosition(position) {
                var coordinates = position.coords;
                $("#lat").val(coordinates.latitude);
                $("#lon").val(coordinates.longitude);

                $("#latlon").val(
                    $("#lat").val() + "," + $("#lon").val()
                );
            }
        });
    </script>



    <script type="text/javascript">
        $(document).ready(function () {

            //right before the form submits, we re-enable the fields, to make them submit.
            $("#btnSave").click(function () {
               
                $('#transactionDate').prop("disabled", false);
                $('#departmentName_From').prop("disabled", false);
                $('#departmentName_To').prop("disabled", false);
            });


            $("#transactionDate").datepicker({
                dateFormat: 'dd-M-yy',
                changeYear: true,
                changeMonth: true,
                onSelect: function (datetxt, instance) {
                    var changedText = $('#transactionDate').val();
                    var transactionType = $('#transactionType').val();
                    var compid = $('#txtcompid').val();

                    var monthYear = document.getElementById('hiddentxt_TransMonthYear');
                    var memoNO = document.getElementById('transNO');
                    $("#txtYear").val(" ");
                    $.getJSON(
                        "/Issue/GetMonthYear_MemoNO", { "ChangedText": changedText, "TransactionType": transactionType, "Compid": compid },
                        function (myData) {
                            monthYear.value = myData.TRANSMY;
                            memoNO.value = myData.TRANSNO;
                        });
                    document.getElementById("departmentName_From").focus();
                }
            });

            

            //Department From Field
            $('#departmentName_From').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Issue/TagSearch_Department',
                        type: 'GET',
                        cache: false,
                        dataType: "json",
                        data: {
                            term: request.term,
                            compid: $('#txtcompid').val()
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item,
                                    value: item
                                };
                            }));
                        }
                    });
                },
                change: $('#departmentName_From').keyup(_.debounce(txtOneChangedDeptFrom, 500)),
                select: function (event, ui) {
                    $("#departmentName_From").val(ui.item.label);
                    txtOneChangedDeptFrom();
                }
            });

            function txtOneChangedDeptFrom() {

                var changedText = $("#departmentName_From").val();
                var companyid = $('#txtcompid').val();

                var txtBox = document.getElementById('departmentName_From');
                var hiddentxt_DepartmentFrom = document.getElementById('hiddentxt_DepartmentFrom_id');

                if (changedText != "") {
                    $.getJSON(
                        '/Issue/keyword_GetDepartmentFrom', { "ChangedText": changedText, "Companyid": companyid },
                        function (myData) {
                            txtBox.value = myData.DEPTNM;
                            hiddentxt_DepartmentFrom.value = myData.DEPTFR;

                        });
                }

                $("#hiddentxt_DepartmentFrom_id").val("");
            }







            //Department To Field
            $('#departmentName_To').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Issue/TagSearch_Department',
                        type: 'GET',
                        cache: false,
                        dataType: "json",
                        data: {
                            term: request.term,
                            compid: $('#txtcompid').val()
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item,
                                    value: item
                                };
                            }));
                        }
                    });
                },
                change: $('#departmentName_To').keyup(_.debounce(txtOneChangedDeptTo, 500)),
                select: function (event, ui) {
                    $("#departmentName_To").val(ui.item.label);
                    txtOneChangedDeptTo();
                }
            });

            function txtOneChangedDeptTo() {

                var changedText = $("#departmentName_To").val();
                var companyid = $('#txtcompid').val();

                var txtBox = document.getElementById('departmentName_To');
                var hiddentxt_DepartmentTo = document.getElementById('hiddentxt_DepartmentTo_id');

                if (changedText != "") {
                    $.getJSON(
                        '/Issue/keyword_GetDepartmentTo', { "ChangedText": changedText, "Companyid": companyid },
                        function (myData) {
                            txtBox.value = myData.DEPTNM;
                            hiddentxt_DepartmentTo.value = myData.DEPTTO;

                        });
                }

                $("#hiddentxt_DepartmentTo_id").val("");
            }




            // Item Name (MEDI id) Field
            $('#itemName_MEDIname').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Issue/TagSearch_MediName',
                        type: 'GET',
                        cache: false,
                        dataType: "json",
                        data: {
                            term: request.term,
                            compid: $('#txtcompid').val()
                        },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                                    label: item,
                                    value: item
                                };
                            }));
                        }
                    });
                },
                change: $('#itemName_MEDIname').keyup(_.debounce(txtOneChangedMediName, 500)),
                select: function (event, ui) {
                    $("#itemName_MEDIname").val(ui.item.label);
                    txtOneChangedMediName();
                }
            });


            function txtOneChangedMediName() {

                var changedText = $("#itemName_MEDIname").val();
                var companyid = $('#txtcompid').val();

                var hiddentxt_MEDIID = document.getElementById('hiddentxt_MEDIID');
                var txtBox = document.getElementById('itemName_MEDIname');
                var txtRate = document.getElementById('rate');

                if (changedText != "") {
                    $.getJSON(
                        '/Issue/keyword_GetMediName', { "ChangedText": changedText, "Companyid": companyid },
                        function (myData) {
                            hiddentxt_MEDIID.value = myData.MEDIID;
                            txtBox.value = myData.MEDINM;
                            txtRate.value = myData.SALRT;

                            var qty = document.getElementById('qty').value;
                            var rate = document.getElementById('rate').value;
                            var amount = document.getElementById('amount');

                            var tottxtAmt = (qty * rate);
                            amount.value = tottxtAmt;
                        });
                }

                $("#hiddentxt_MEDIID").val("");
                $("#rate").val("");
            }



            $("#qty").change(function () {

                var qty = document.getElementById('qty').value;
                var rate = document.getElementById('rate').value;
                var amount = document.getElementById('amount');

                var tottxtAmt = (qty * rate).toFixed(2);
                amount.value = tottxtAmt;
                document.getElementById("rate").focus();
            });




            $("#rate").change(function () {

                var qty = document.getElementById('qty').value;
                var rate = document.getElementById('rate').value;
                var amount = document.getElementById('amount');

                var tottxtAmt = (qty * rate).toFixed(2);
                amount.value = tottxtAmt;
                document.getElementById("btnInsert").focus();
            });



            //$("#txtMst_VatRT").change(function () {

            //    document.getElementById('txtMst_VatAmount').value = (document.getElementById('txtMst_TotalAmount').value * (document.getElementById('txtMst_VatRT').value / 100)).toFixed(2);
            //    document.getElementById('txtMst_NetAmount').value = (parseFloat(document.getElementById('txtMst_TotalAmount').value) + parseFloat(document.getElementById('txtMst_VatAmount').value) - parseFloat(document.getElementById('txtMst_DiscAmt').value)).toFixed(2);
            //    document.getElementById("txtMst_DiscAmt").focus();
            //});



            //$("#txtMst_DiscAmt").change(function () {

            //    document.getElementById('txtMst_VatAmount').value = (document.getElementById('txtMst_TotalAmount').value * (document.getElementById('txtMst_VatRT').value / 100)).toFixed(2);
            //    document.getElementById('txtMst_NetAmount').value = (parseFloat(document.getElementById('txtMst_TotalAmount').value) + parseFloat(document.getElementById('txtMst_VatAmount').value) - parseFloat(document.getElementById('txtMst_DiscAmt').value)).toFixed(2);
            //    document.getElementById("txtMst_Remarks").focus();
            //});



            $('#A4_ButtonId').click(function () {
                $('#transactionDate').prop("disabled", false);
                $('#departmentName_From').prop("disabled", false);
                $('#departmentName_To').prop("disabled", false);
                setTimeout(function () { window.location.reload(); }, 100);
            });
            $('#POS_ButtonId').click(function () {
                $('#transactionDate').prop("disabled", false);
                $('#departmentName_From').prop("disabled", false);
                $('#departmentName_To').prop("disabled", false);
                setTimeout(function () { window.location.reload(); }, 100);
            });

        });
    </script>


    <style type="text/css">
        .ui-autocomplete {
            position: absolute;
            cursor: default;
            background: #f0ffff;
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
    </style>
}


<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>


<script src="~/Scripts/angularjs/1.0.5/angular.js"></script>
<script src="~/Scripts/Issue/Issue_Create.js"></script>
<script src="~/Scripts/angularjs/ui-bootstrap-tpls-0.4.0.js"></script>

<script src="~/Scripts/Underscore.js"></script>



